 
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# gitignore template for the Storybook, UI guide for front apps
# website: https://storybook.js.org/

storybook-static/

# End of https://mrkandreev.name/snippets/gitignore-generator/#react,StorybookJs